.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row {
    flex-direction: row;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}
