html, body {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.centerFloat {
    margin: 0;
    height: 100%;
    width: 100%;

    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    flex-direction: center;
    -webkit-align-items: center;
    align-items: center;

}